<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <!-- axios  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

    <!-- vuejs  -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    
    <div id="root">
        <!-- HEADER  -->
        <header>
            <div class="logo-container">
                <img src="img/download.png" alt="logo">
            </div>
        </header>
        <!-- END HEADER  -->

        <!-- MAIN  -->
        <main>

            <!-- select genre -->
            <div class="select">
                <label for="genre">Seleziona genere:</label>
                <select v-model="selected" id="genre">
                    <option value="">All</option>
                    <option v-for="genre in genres" :value="genre">{{ genre }}</option>
                </select>
            </div>
            <!-- end select genre -->
            
            <!-- albums  -->
            <div class="albums-container">
                
                <!-- single album  -->
                <div v-for="element in albums" v-if="selected.length == 0 || selected == element.genre" class="single-album">
                    <div class="cover">
                        <img :src="element.poster" alt="">
                    </div>
                    <div class="title">{{ element.title }}</div>
                    <div class="artist">{{ element.author }}</div>
                    <div class="year">{{ element.year }}</div>
                </div>
                <!-- end single album  -->

            </div>
            <!-- end albums  -->

        </main>
        <!-- END MAIN  -->
    </div>

    <!-- JS  -->
    <script src="js/script.js"></script>
</body>
</html>